$contentWidth: 1290px;
$containerOffset: 15px;
$containerOffset-31: 31px;
$containerOffset-27: 27px;
$containerOffset-21: 21px;
$containerMaxWidth: calc($contentWidth + ($containerOffset * 2));
$columnsGap: 30px;

$colorMain: #FF6E30;
$colorMain2: #BC572B;
$colorMain3: #CE4307;
$colorPink: #F06666;
$colorRed: #FF3030;
$colorPeach: #FFD4C1;
$colorBlack: #202020;
$colorBlack085: rgba(32, 32, 32, 0.85);
$colorGray1: #4A4A4A;
$colorGray2: #999999;
$colorGray3: #CACACA;
$colorGray4: #E9E9E9;
$colorWhite: #FFFFFF;